@import url('https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap');

body{
  font-family: 'Roboto', sans-serif;
  font-weight: 300 !important;
}

.modal{
  z-index: 999999999 !important;
}
.fb{ font-weight: 400 !important;}
/*
.bg_custom{
  background-image: url('../../../img/bg1.png');
  background-size: cover;
}

.bg_custom2{
  background-image: url('../../../img/bg2.png');
  background-size: cover;
}

.bg_custom3{
  background-image: url('../../../img/bg3.png');
  background-repeat: no-repeat;
  background-size: cover;
} */

.bsdn{
  box-shadow: none;
}
.dn{
  display: none;
}

.tsdn{ text-shadow: none !important; }


.btn-success{
  background: rgb(7, 203, 132);
  border: none;
}

.custom-input-1{
  border: solid;
  border-width: 0px 0px 0px 0px;
  border-color: rgb(179, 179, 179);
  background: rgb(231, 231, 231);
  border-radius: 0px;
  font-weight: 300 !important;
  color: #383838;
  outline: none !important;
}


.custom-input-1:focus{
  border-width: 0px 0px 0px 0px;
  background: rgb(231, 231, 231);
    outline: none !important;
    border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.custom-input-1::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #474747;
  opacity: 1; /* Firefox */
}

.custom-input-1:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #474747;
}

.custom-input-1::-ms-input-placeholder { /* Microsoft Edge */
  color: #474747;
}

.custom-input-2{
  border: solid;
  background: rgb(255, 255, 255) ;
  font-weight: 300 !important;
  border-width: 0px 0px 2px 0px !important;
  border-color: rgb(189, 189, 189) !important;
  border-radius: 0px;
  outline: none;
}

.custom-input-2:focus{
  outline: none !important;
  border-color: inherit;
   -webkit-box-shadow: none;
   box-shadow: none;
}

.is-invalid{
  background: rgb(255, 236, 233)
}

.footer-div{
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  right: 0px;
  background: #fff;
  padding: 15px 20px 10px 20px;
  z-index: 9999;
  border: solid;
  border-width: 1px 0px 0px 0px;
  border-color: rgb(226, 226, 226);
}

.c-drop-shadow{
  -webkit-box-shadow: 0px 3px 9px -2px rgba(0,0,0,0.58);
  -moz-box-shadow: 0px 3px 9px -2px rgba(0,0,0,0.58);
  box-shadow: 0px 3px 9px -2px rgba(0,0,0,0.58);
}

.selectgroup {
  display: inline-flex; }

.selectgroup-item {
  flex-grow: 1;
  position: relative; }
  .selectgroup-item + .selectgroup-item {
    margin-left: -1px; }
  .selectgroup-item:not(:first-child) .selectgroup-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
  .selectgroup-item:not(:last-child) .selectgroup-button {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }

.selectgroup-input {
  opacity: 0;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0; }

.selectgroup-button {
  background-color: #fdfdff;
  border-color: rgb(140, 137, 138) ;
  border-width: 1px;
  border-style: solid;
  display: block;
  text-align: center;
  padding: 0 1rem;
  height: 35px;
  position: relative;
  cursor: pointer;
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 18px;
  min-width: 2.375rem;
  line-height: 36px; }

.selectgroup-button-icon {
  padding-left: .5rem;
  padding-right: .5rem; }
  .selectgroup-button-icon i {
    font-size: 14px; }

.selectgroup-input:focus + .selectgroup-button,
.selectgroup-input:checked + .selectgroup-button {
  background-color: #f51660;
  border-width: 0px;
  font-size: 22px;
  color: #fff;
  z-index: 1; }

.selectgroup-pills {
  display: block;
  flex-wrap: wrap;
  align-items: flex-start; }
  .selectgroup-pills .selectgroup-item {
    margin-right: .5rem;
    flex-grow: 0; }
  .selectgroup-pills .selectgroup-button {
    border-radius: 50px !important; }

.custom-switch {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  display: inline-flex;
  align-items: center;
  margin: 0; }

.custom-switch-input {
  position: absolute;
  z-index: -1;
  opacity: 0; }

.custom-switches-stacked {
  display: flex;
  flex-direction: column; }
  .custom-switches-stacked .custom-switch {
    margin-bottom: .5rem; }

/* .custom-switch-indicator {
  display: inline-block;
  height: 1.25rem;
  width: 2.25rem;
  background: #e9ecef;
  border-radius: 50px;
  position: relative;
  vertical-align: bottom;
  border: 1px solid rgba(0, 40, 100, 0.12);
  transition: .3s border-color, .3s background-color; }
  .custom-switch-indicator:before {
    content: '';
    position: absolute;
    height: calc(1.25rem - 4px);
    width: calc(1.25rem - 4px);
    top: 1px;
    left: 1px;
    background: #fff;
    border-radius: 50%;
    transition: .3s left; }

.custom-switch-input:checked ~ .custom-switch-indicator {
  background: #6777ef; }
  .custom-switch-input:checked ~ .custom-switch-indicator:before {
    left: calc(1rem + 1px); }

.custom-switch-input:focus ~ .custom-switch-indicator {
  border-color: #6777ef; } */

  .custom-switch-indicator {
    display: inline-block;
    height: 2.25rem;
    width: 2.25rem;
    background: #fff;
    border-radius: 50px;
    position: relative;
    vertical-align: bottom;
    border: 1px solid rgba(0, 40, 100, 0.12);
    transition: .3s border-color, .3s background-color;
    padding-top: 6px;
    padding-left: 10px;
  }

  .custom-switch-indicator:before {
      content: '';
      position: absolute;
      /* height: calc(1.25rem - 4px);
      width: calc(1.25rem - 4px); */

      top: 8.7px;
      left: 0.6rem;
      background: #e9ecef;
      border-radius: 50%;
      transition: .3s left; }

  .custom-switch-input:checked ~ .custom-switch-indicator {
    background: #f51660;
    color: #fff;
  }
    .custom-switch-input:checked ~ .custom-switch-indicator:before {
      /* left: calc(2.25rem);  */
    }

  .custom-switch-input:focus ~ .custom-switch-indicator {
    border-color: #f51660; }

.custom-switch-description {
  margin-left: .5rem;
  color: #6e7687;
  transition: .3s color; }

.custom-switch-input:checked ~ .custom-switch-description {
  color: #495057; }

  #map {
            position: absolute;
            /* height: 100%; */
            width: 100%;
            top: 97px;
            left: 0px;
            bottom: 0px;
            /* background: rgb(201, 164, 112); */
            z-index: 98 !important;
          }

  #map-tool-1 {
            position: absolute;
            width: 100%;
            left: 0px;
            bottom: 0px;
            padding: 20px;
            z-index: 99 !important;
          }

.img-circle{
  border-radius: 50%;
  overflow: hidden;
}

.btn-circle {
    width: 40px;
    height: 40px;
    padding: 5px 3px;
    border-radius: 20px;
    text-align: center;
    font-size: 20px;
    line-height: 1.42857;
}

.btn-circle .btn-lg {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}


.slider-selection {
	background: #f77500 !important;
}
.slider-success .slider-selection {
	background-color: #5cb85c !important;
}
.slider-primary .slider-selection {
	background-color: #428bca !important;
}
.slider-info .slider-selection {
	background-color: #5bc0de !important;
}
.slider-warning .slider-selection {
	background-color: #f0ad4e !important;
}
.slider-danger .slider-selection {
	background-color: #d9534f !important;
}
.slider.slider-horizontal {
    width: 100% !important;
    height: 20px;
}
.slider-handle {
	background-color: #fff !important;
	background-image: none !important;
	-webkit-box-shadow: 1px 1px 24px -2px rgba(0,0,0,0.75) !important;
	-moz-box-shadow: 1px 1px 24px -2px rgba(0,0,0,0.75) !important;
	box-shadow: 1px 1px 24px -2px rgba(0,0,0,0.75) !important;
}

.slider-strips .slider-selection {
	background-image: repeating-linear-gradient(-45deg, transparent, transparent 5px, rgba(255,252,252,0.08) 5px, rgba(252,252,252,0.08) 10px) !important;
	background-image: -ms-repeating-linear-gradient(-45deg, transparent, transparent 5px, rgba(255,252,252,0.08) 5px, rgba(252,252,252,0.08) 10px) !important;
	background-image: -o-repeating-linear-gradient(-45deg, transparent, transparent 5px, rgba(255,252,252,0.08) 5px, rgba(252,252,252,0.08) 10px) !important;
	background-image: -webkit-repeating-linear-gradient(-45deg, transparent, transparent 5px, rgba(255,252,252,0.08) 5px, rgba(252,252,252,0.08) 10px) !important;
}







.modal div.ui-slider {
	height: 30px;
	margin: .5em 0;
	padding: 0;
	-ms-touch-action: pan-y pinch-zoom double-tap-zoom;
}
.modal div.ui-slider:before,
.modal div.ui-slider:after {
	content: "";
	display: table;
}
.modal div.ui-slider:after {
	clear: both;
}
.modal input.ui-slider-input {
	display: block;
	float: left;
	font-size: 14px;
	font-weight: bold;
	margin: 0;
	padding: 4px;
	width: 40px;
	height: 20px;
	line-height: 20px;
	border-width: 1px;
	border-style: solid;
	outline: 0;
	text-align: center;
	vertical-align: text-bottom;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.modal .ui-slider-input::-webkit-outer-spin-button,
.modal .ui-slider-input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
.modal .ui-slider-track {
	position: relative;
	overflow: visible;
	border-width: 1px;
	border-style: solid;
	height: 15px;
	margin: 0 15px 0 68px;
	top: 6px;
}
.modal .ui-slider-track.ui-mini {
	height: 12px;
	top: 8px;
}
.modal .ui-slider-track .ui-slider-bg {
	height: 100%;
}
/* High level of specificity to override button margins in grids */
.modal .ui-slider-track .ui-btn.ui-slider-handle {
	position: absolute;
	z-index: 1;
	top: 50%;
	width: 28px;
	height: 28px;
	margin: -15px 0 0 -15px;
	outline: 0;
	padding: 0;
}
.modal .ui-slider-track.ui-mini .ui-slider-handle {
	height: 14px;
	width: 14px;
	margin: -8px 0 0 -8px;
}
.modal select.ui-slider-switch {
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px,1px,1px,1px);
}
.modal div.ui-slider-switch {
	display: inline-block;
	height: 32px;
	width: 5.8em;
	top: 0;
}
/* reset the clearfix */
.modal div.ui-slider-switch:before,
.modal div.ui-slider-switch:after {
	display: none;
	clear: none;
}
.modal div.ui-slider-switch.ui-mini {
	height: 29px;
	top: 0;
}
.modal .ui-slider-inneroffset {
	margin: 0 16px;
	position: relative;
	z-index: 1;
}
.modal .ui-slider-switch.ui-mini .ui-slider-inneroffset {
	margin: 0 15px 0 14px;
}
.modal .ui-slider-switch .ui-btn.ui-slider-handle {
	margin: 1px 0 0 -15px;
}
.modal .ui-slider-switch.ui-mini .ui-slider-handle {
	width: 25px;
	height: 25px;
	margin: 1px 0 0 -13px;
	padding: 0;
}
.modal .ui-slider-handle-snapping {
	-webkit-transition: left 70ms linear;
	-moz-transition: left 70ms linear;
	transition: left 70ms linear;
}
.modal .ui-slider-switch .ui-slider-label {
	position: absolute;
	text-align: center;
	width: 100%;
	overflow: hidden;
	font-size: 16px;
	top: 0;
	line-height: 2;
	min-height: 100%;
	white-space: nowrap;
	cursor: pointer;
}
.modal .ui-slider-switch.ui-mini .ui-slider-label {
	font-size: 14px;
}
.modal .ui-slider-switch .ui-slider-label-a {
	z-index: 1;
	left: 0;
	text-indent: -1.5em;
}
.modal .ui-slider-switch .ui-slider-label-b {
	z-index: 0;
	right: 0;
	text-indent: 1.5em;
}
/* The corner radii for ui-slider-switch/track can be specified in theme CSS. The bg and handle inherits. */
.modal .ui-slider-track .ui-slider-bg,
.modal .ui-slider-switch .ui-slider-label,
.modal .ui-slider-switch .ui-slider-inneroffset,
.modal .ui-slider-handle {
	-webkit-border-radius: inherit;
	border-radius: inherit;
}
.modal .ui-field-contain div.ui-slider-switch {
	margin: 0;
}
/* ui-hide-label deprecated in 1.4. TODO: Remove in 1.5 */
.modal .ui-field-contain div.ui-slider-switch,
.modal .ui-field-contain.ui-hide-label div.ui-slider-switch,
html .ui-popup .ui-field-contain div.ui-slider-switch {
	display: inline-block;
	width: 5.8em;
}
/* slider tooltip
-----------------------------------------------------------------------------------------------------------*/
.modal .ui-slider-popup {
	width: 64px;
	height: 64px;
	font-size: 36px;
	padding-top: 14px;
	opacity: 0.8;
}
.modal .ui-slider-popup {
	position: absolute !important;
	text-align: center;
	z-index: 100;
}
.modal .ui-slider-track .ui-btn.ui-slider-handle {
	font-size: .9em;
	line-height: 30px;
}
.modal .ui-rangeslider {
	margin: .5em 0;
}
.modal .ui-rangeslider:before,
.modal .ui-rangeslider:after {
	content: "";
	display: table;
}
.modal .ui-rangeslider:after {
	clear: both;
}
.modal .ui-rangeslider .ui-slider-input.ui-rangeslider-last {
	float: right;
}
.modal .ui-rangeslider .ui-rangeslider-sliders {
	position: relative;
	overflow: visible;
	height: 30px;
	margin: 0 68px;
}
.modal .ui-rangeslider .ui-rangeslider-sliders .ui-slider-track {
	position: absolute;
	top: 6px;
	right: 0;
	left: 0;
	margin: 0;
}
.modal .ui-rangeslider.ui-mini .ui-rangeslider-sliders .ui-slider-track {
	top: 8px;
}
.modal .ui-rangeslider .ui-slider-track:first-child .ui-slider-bg {
	display: none;
}
.modal .ui-rangeslider .ui-rangeslider-sliders .ui-slider-track:first-child {
	background-color: transparent;
	background: none;
	border-width: 0;
	height: 0;
}
